<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgitbank.ssg.mybatis.member.MemberMapper">
	<resultMap type="com.kgitbank.ssg.member.dto.MemberDTO" id="member">
		<id property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="email" column="email"/>
		<result property="addr" column="addr"/>
		<result property="basket" column="basket"/>
	</resultMap>
	
	<select id="idCheck" resultMap="member">
		select * from member where id=#{id}
	</select>
	
	<insert id="register">
		insert into member(id, pw, email, addr) values(#{id}, #{pw}, #{email}, #{addr})
	</insert>
	
	<select id="login" resultMap="member">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<update id="modify">
		update member set id=#{id}, pw=#{pw}, email=#{email}, addr=#{addr}
		where id=#{id} 	
	</update>
	
	<select id="memberList" resultMap="member">
		select * from member
	</select>
	
	<delete id="memberDelete">
		delete from member where id=#{id}
	</delete>
	
	<select id="getBasket" resultType="String">
		select basket from member where id=#{id}
	</select>
	
	<update id="setBasket">
		update member set basket=#{str} where id=#{id}
	</update>
	
</mapper>